<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Model World eshop</title>
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100&display=swap" rel="stylesheet">

  <link rel="icon" th:href="@{images/favicon.ico}" type="image/x-icon">
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
  <div class="actions">
    <div><a th:href="@{/modelWorld/addNewForm}" class="new button no-underline" stylehref="#">Add new item</a></div>
    <div><a th:href="@{/modelWorld/deleteItems}" class="new button no-underline" stylehref="#" role="button">Delete out of sale items</a></div>
    <div><a th:href="@{/modelWorld/findItemForm}" class="new button no-underline" stylehref="#" role="button">Find item by id</a></div>
  </div>
  <div class="container">
    <table>
      <thead>
      <tr class="header">
        <th><h4>Part no.</h4></th>
        <th><h4>Name</h4></th>
        <th><h4>Description</h4></th>
        <th><h4>Is for sale</h4></th>
        <th><h4>Price</h4></th>
        <th colspan="2"><h4>Action</h4></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item:${allItemsList}">
        <td class="gen" th:text="${item.partNo}" ></td>
        <td class="gen" th:text="${item.name}" ></td>
        <td class="gen" th:text="${item.description}" ></td>
        <td class="gen" th:text="${item.isForSale ? 'Yes' : 'No'}" ></td>
        <td class="gen" th:text="${item.price}"></td>
        <td class="update"><a th:href="@{/modelWorld/updateForm/{id}(id=${item.id})}" class="update button no-underline" stylehref="#" role="button">Update</a></td>
        <td class="delete"><a th:href="@{/modelWorld/deleteItem/{id}(id=${item.id})}" class="delete button no-underline" stylehref="#" role="button">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
